<template name="ListUsers">
  <form role="form" id="searchbar">
    <div class="input-group">
      <input type="search" class="form-control" placeholder="Find a specific user..." id="searchname">
        <span class="input-group-btn">
          <button class="btn btn-default submit" type="submit" value="Submit">Find</button>
        </span>
    </div>
  </form>
  <div class="container-fluid">
    <div class="row">
      {{#each getUsers}}
        {{> UserRow }}
      {{/each}}
    </div>
  </div>
</template>