<template name="ProfilePage">
  <div class="container-fluid" id="profile-page-content">
    <h4>Profile:</h4>
    <div class="row">
      <div class="well container-fluid">
        <div class="col-md-2" align="right" id="profile-left">
          {{> ProfileImage }}
          <div id="profile-username">
            {{username}}
          </div>
        </div>
        <div class="col-md-6" id="profile-right">
          <h3>{{ profile.firstName }} {{ profile.lastName }}</h3>
          {{#if profile.shareEmail }}
          <h3>Email: {{ emails.[0].address }}</h3>
          {{/if}}
          {{#if userIsBanned}}<h2 style="color: red">This user has been banned.</h2>{{/if}}
        </div>
      </div>
      {{#if ownProfile}}<a href = "{{ pathFor 'ProfileEdit' }}" class = "btn btn-primary" role = "button">Edit</a>{{/if}}
    </div>
  </div>
</template>