<template name="ProfilePage">
  <div class="container-fluid" id="profile-page-content">
    <div class="row">
      <div class="col-md-2 col-md-offset-2" id="profile-left">
        <img src="{{ profile.profileImage }}" class="img-rounded center-block" height="100" width="100"><br>
        <div id="profile-username">
          {{username}}
          {{#if ownProfile}}<a href = "{{ pathFor 'ProfileEdit' }}" class = "btn btn-primary" role = "button">Edit</a>{{/if}}
        </div>
      </div>
      <div class="col-md-6">
        <h3>{{ profile.firstName }} {{ profile.lastName }}</h3>
        {{#if profile.shareEmail }}
        <h3>Email: {{ emails.[0].address }}</h3>
        {{/if}}
      </div>
    </div>
  </div>
</template>