<template name="UserOffers">
  <ul class="nav nav-tabs" role="tablist" id="user-offer-tabs">
    <li role="presentation" class="active"><a href="#user-buy" aria-controls="user-buy" role="tab" data-toggle="tab">Buy Offers</a></li>
    <li role="presentation"><a href="#user-sell" aria-controls="user-sell" role="tab" data-toggle="tab">Sell Offers</a></li>
    {{#if ownProfile}}
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" id="messages-click" data-toggle="tab">Messages<span style="display: inline" class="badge" id="unread-badge2">{{ unreadMessages }}</span></a></li>
    {{/if}}
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="user-buy">
      <div class="panel panel-default">
        <div class="panel-body">
          {{> UserBuyOffers}}
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="user-sell">
      <div class="panel panel-default">
        <div class="panel-body">
          {{> UserSellOffers}}
        </div>
      </div>
    </div>
    {{#if ownProfile}}
    <div role="tabpanel" class="tab-pane fade" id="messages">
      <div class="panel panel-default">
        <div class="panel-body">
          {{> MessagesPage}}
        </div>
      </div>
    </div>
    {{/if}}
  </div>
</template>