<template name="UserRow">
  <a href="{{pathFor 'ProfilePage'}}">
    <div class="col-lg-4 col-sm-6 col-xs-12" id="user-block">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-xs-6" id="user-row-image">
            {{> ProfileImage }}
            <span class="user-info-text">{{username}}</span>
          </div>
          <div class="col-xs-6" id="user-row-name">
            <div class="row">
              <span class="user-info-text">{{ profile.firstName }} {{ profile.lastName }}</span>
            </div>
            <div class="row">
              <span class="user-info-text">
                Buying <span class="badge">{{ countBuyOffers }}</span><br>
                Selling <span class="badge">{{ countSellOffers }}</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</template>