<template name="UserRow">
  <a href="{{pathFor 'ProfilePage'}}">
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-xs-6" id="user-row-image">
            {{> ProfileImage }}
            <a href="{{pathFor 'ProfilePage'}}">{{username}}</a>
          </div>
          <div class="col-xs-6" id="user-row-name">
            <div class="row">
              {{ profile.firstName }} {{ profile.lastName }}
            </div>
            <div class="row">
              Buy Offers: {{ countBuyOffers }}<br>
              Sell Offers: {{ countSellOffers }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</template>