<template name="Header">
  <div class="header-image"></div>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <ul class="collapse navbar-collapse" id="main-nav">

        <ul class="nav navbar-nav">
          <li><a href="{{pathFor 'Home'}}">Textbook Mania</a></li>
          <li><a href="{{ pathFor 'ProfileEdit'}}">Students</a></li>
          <li><a href="{{ pathFor 'Textbook' }}">Textbook</a></li>
          <li><a href="{{ pathFor 'BuyOffer' }}">Buy Offer</a></li>
          <li><a href="{{ pathFor 'SellOffer' }}">Sell Offer</a></li>
          <li><a href="{{ pathFor 'Matching' }}">Matching</a></li>
          <li><a href="{{ pathFor 'Help' }}">Help</a></li>
        </ul>


        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
          {{/if}}
          {{> CasLogin }}
        </ul>
      </ul>
    </div>
  </nav>
</template>