<template name="Header">
  <div class="header-image"></div>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <ul class="collapse navbar-collapse" id="main-nav">

        <ul class="nav navbar-nav">
          <li><a href="{{ pathFor 'Home' }}">Textbook Mania</a></li>
          {{#IfLoggedIn}}
          <li><a href="{{ pathFor 'ListUsers' }}">Students</a></li>

          <li><a href="{{ pathFor 'ListTextbook' }}">Textbooks</a></li>

              <li><a href="{{ pathFor 'Offers' }}">Offers</a></li>

          <li><a href="{{ pathFor 'Matching'}}">Matching</a></li>

          <li><a href="{{ pathFor 'ProfilePage' data=currentUser }}">Your Page<span style="display: inline" class="badge" id="unread-badge">{{ unreadMessages }}</span></a></li>

          <li><a href="https://github.com/textbookmania/LightSteelBlue/wiki" target="_blank">Help</a></li>
          {{/IfLoggedIn}}
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
          {{/if}}
          {{> CasLogin }}
        </ul>
      </ul>
    </div>
  </nav>
</template>