<template name="Header">
  <div class="header-image"></div>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <ul class="collapse navbar-collapse" id="main-nav">

        <ul class="nav navbar-nav">
          <li><a href="{{ pathFor 'Home' }}">Textbook Mania</a></li>
          <li><a href="{{ pathFor 'Students' }}">Students</a></li>
          <li><a href="{{ pathFor 'ListTextbook' }}">Textbook</a></li>
          <li><a href="" data-toggle="dropdown" class="dropdown-toggle">Buy Offers<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{ pathFor 'AddBuyOffer' }}">Add Buy Offer</a></li>
              <li><a href="{{ pathFor 'ListBuyOffer' }}">List Buy Offers</a></li>
            </ul>
          </li>
          <li><a href="{{ pathFor 'SellOffer' }}">Sell Offer</a></li>
          <li><a href="{{ pathFor 'Help' }}">Help</a></li>
        </ul>


        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
          {{/if}}
          {{> CasLogin }}
        </ul>
      </ul>
    </div>
  </nav>
</template>