<template name="Matching">
  {{#IfLoggedIn}}
  <h1>Matches</h1>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#listbuy">List Buy Offer</a></li>
    <li><a data-toggle="tab" href="#listsell">List Sell Offer</a></li>
  </ul>

  <div class="tab-content">
    <div id="listbuy" class="tab-pane fade in active">
      <table class="table table-striped table-bordered" style="text-align: center">
        <thead>
        <tr>
          <th>Book</th>
          <th>Offer</th>
          <th>Expiration</th>
          <th>Condition</th>
          <th>Student</th>
          <th>Accept Offer</th>
        </tr>
        </thead>

        <tbody>
        {{#each buyMatch}}
        <tr>
          <td>{{book}}</td>
          <td>{{offer}}</td>
          <td>{{formatDate expiration}}</td>
          <td>{{condition}}</td>
          <td>{{student}}</td>
          <td>{{> SellOfferMessageButton}}</td>
        </tr>
        {{/each}}
        </tbody>
      </table>
    </div>

    <div id="listsell" class="tab-pane fade">
      <table class="table table-striped table-bordered" style="text-align: center">
        <thead>
        <tr>
          <th>Book</th>
          <th>Offer</th>
          <th>Expiration</th>
          <th>Condition</th>
          <th>Student</th>
          <th>Accept Offer</th>
        </tr>
        </thead>

        <tbody>
        {{#each sellMatch}}
        <tr>
          <td>{{book}}</td>
          <td>{{offer}}</td>
          <td>{{formatDate expiration}}</td>
          <td>{{condition}}</td>
          <td>{{student}}</td>
          <td>{{> BuyOfferMessageButton}}</td>
        </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{/IfLoggedIn}}
</template>
