<template name="ListTextbook">
  {{#IfLoggedIn}}

  {{#each textbookList}}
  <div id="ListTextbookRow" class="row">
    <div id="ListTextbookWell" class="well">
      <div id="ListTextbookCol" class="col">
        <div class="ListTextbookImage">
          <a href={{coverimage}} data-lightbox={{title}}>
            <img src={{coverimage}}/>
          </a>
        </div>

      </div>
      <a href="{{ pathFor 'TextbookOffer' _title=this.title }}">
        <div id="ListTextbookInfo" class="col">
          <div id="ListTextbookInfoRow" class="row">
            <h3>{{title}}</h3>
            <h4>by {{author}}</h4>
            <br>
            <h4>ISBN:</h4>
            <h4>{{isbn13}}</h4>
            <h4>{{isbn10}}</h4>
          </div>
        </div>
      </a>
    </div>
  </div>
  {{/each}}
  {{/IfLoggedIn}}
</template>
