<template name="ListTextbook">
  {{#IfLoggedIn}}
    <div class="well">

      <table class="table">
        <thead>
        <tr>
          <th>Class</th>
          <th>Title</th>
          <th>Author</th>
          <th>ISBN</th>
          <th>Edition</th>
          <th>Publisher</th>
        </tr>
        </thead>

        <tbody>
        {{#each textbookList}}
          <tr>
            <td>{{class}}</td>
            <td>{{title}}</td>
            <td>{{author}}</td>
            <td>{{isbn}}</td>
            <td>{{edition}}</td>
            <td>{{publisher}}</td>
          </tr>
        {{/each}}
        </tbody>
      </table>

    </div>
  {{/IfLoggedIn}}
</template>
