#profile-username {
  text-align: center;
  font-size: 30px;
}

#profile-username .btn{
  margin-left: 20px;
}

#profile-page-content .well{
  border-width: 5px;
  border-style: outset;
  background-color: #EFF3F8;
  border-color: silver;
  margin: 0 20px 5px 20px;
  padding: 0;
  border-radius: 0;
}

#profile-left {
  min-width: 200px;
  background-color: white;
  height: 175px;
  padding-top: 10px;
  display: block;
}

#profile-left img {
  margin-bottom: 10px;
}

#profile-right {
  padding: 20px;
}

#profile-right h3{
  margin-top: 0;
  margin-bottom: 15px;
}

#profile-edit .panel-group {
  padding-left: 25px;
  padding-right: 25px;
}

#profile-edit-button {
  margin-left: 20px;
  border-radius: 0;
  margin-bottom: 5px;
}

#profile-edit .panel-default {
  margin-left: 20px;
}