body {
  background-color: lightsteelblue;
  font-family: Roboto, sans-serif;
  color: #304253;
}

#background-page {
  padding: 20px;
  background-color: white;
}

#profile-username {
  text-align: center;
  font-size: 30px;
}

#profile-username .btn{
  margin-left: 20px;
}

.header-image {
  background-image: url('images/cover-image.jpg');
  background-size: cover;
  height: 170px;
}

.welcome-image {
  position: relative;
  width: 100%; /* for IE 6 */
}

.welcome-image h2 {
  position: absolute;
  font-size: 50px;
  top: 5px;
  left: 15px;
  width: 100%;
  margin-top: 0;
}

.welcome-image h2 span {
  color: whitesmoke;
  font: bold 30px/70px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 3px;
}

.welcome-image p {
  position: absolute;
  top: 100px;
  left: 15px;
  right: 30px;
  width: 95%;
  max-width: 600px;
  margin-top: 0;
  color: whitesmoke;
  font: bold 20px/40px Helvetica, Sans-Serif;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 3px;
  line-height: 1.5;
}

#home-main1 {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 70px;
}

#home-main1 .glyphicon-triangle-right {
  font-size: 20px;
  margin-right: 4px;
}

#home-slogan {
  padding: 15px;
  font-size: 28px;
  margin-left: 0px;
  color: #23527c;
  font-weight: bold;
}

#home-title {
  border-color: #23527c;
  border-radius: 7px;
  padding: 6px;
  border-style: solid;
  border-width: 5px;
  font-size: 45px;
  font-weight: bold;
}

#home-page-image img{
  float: left;
  display: block;
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  margin-bottom: 0;
}

.navbar-inverse {
  background-color: #23527c;
  border-style: none;
}

.navbar-inverse .navbar-nav > li > a {
  color: ghostwhite;
  font-size: 16px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: whitesmoke;
}

.well {
  background-color: #B0C4DE;
  border-color: #B0C4DE;
}


.text-muted {
  color: black;
}

.dropdown-menu > li > a {
  text-align: center;
}

.col-md-3 {
  width: 33%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: steelblue;
}
