body
{
    background-color: #FCFCFA;
    font-family: Roboto, sans-serif;
    color: #304253;
}
.header-image
{
    background-image: url('images/cover-image.jpg');
    background-size: cover;
    height: 200px;
}

.navbar
{
    border-radius: 0px;
    height: 50px;
}

.navbar-inverse
{
    background-color: #B0C4DE;
    border-color: #B0C4DE;
}

.navbar-inverse .navbar-nav>li>a
{
    color: #304253;
    font-size: 16px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: whitesmoke;
}

.well
{
    background-color: #B0C4DE;
    border-color: #B0C4DE;
}

h1
{
    font-size: 30px;
    text-align: center;
}

h2
{
    font-size: 18px;
    text-align: center;
}

.text-muted
{
    color: black;
}

.dropdown-menu > li > a {
    text-align: center;
}

.col-md-3
{
    width: 33%;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: steelblue;
}
