body {
  background-color: lightsteelblue;
  font-family: 'Open Sans', sans-serif;
  color: #304253;
  padding: 0;
}

#background-page {
  padding: 20px;
  background-color: white;
}

#unread-badge {
  border-radius: 6px;
  background-color: whitesmoke;
  color: #122b40;
  margin-left: 4px;
}

.offer-badge {
  border-radius: 6px;
  margin-left: 4px;
  background-color: lightslategray;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: whitesmoke;
  }
}

.navbar-nav li:hover {
  background-color: #428bca;
}

.header-image {
  background-image: url('images/cover-image.jpg');
  background-size: cover;
  height: 170px;
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  margin-bottom: 0;
}

.navbar-inverse {
  background-color: #23527c;
  border-style: none;
}

.navbar-inverse .navbar-nav > li > a {
  color: ghostwhite;
  font-size: 16px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: whitesmoke;
}

.well {
  background-color: transparent;
  border-color: #B0C4DE;
}


.text-muted {
  color: black;
}

.dropdown-menu > li > a {
  text-align: center;
}

.col-md-3 {
  width: 33%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: steelblue;
}

@media (max-width: 991px) {
  .navbar-inverse .navbar-nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 95%;
  }
}