.TextbookOfferContainer {
  height: 100%;
  width: 100%;
}

.TextbookOfferInfo {
  height: 40vh;
  width: 100%;;
  overflow: hidden;
}

#TextbookOfferInfoImage.col {
  max-height: 100%;
  width: 40%;
  margin: 0;
  dusplay: block;
  float: left;
}

#TextbookOfferInfoText.col {
  max-height: 100%;
  width: 60%;
  margin: 0;
  display: block;
  float: left;
}

#TextbookOfferInfoImage a img {
  height: 100%;
  max-width: 100%;
  display: block;
  margin: 0;
}

#TextbookOffers.row {
  height: 100%;
  width: 100%;
}


.TextbookOffers h4 {
  align: center;
}

.TextbookOffers .table{
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

#adminButtons {
  max-height: 100%;
  width: 30%;
  margin: auto;
  display: block;
  float: left;
}

@media screen and (max-width: 500px) {
  #TextbookOfferInfoText h4 {
    visibility: hidden;
  }
  #adminButtons {
    max-height: 100%;
    width: 100%;
    margin: auto;
    display: block;
    float: left;
  }
}

@media screen and (max-height: 930px) {
  .TextbookOfferInfo {
    height: 50vh;
    overflow: hidden;
  }

  #adminButtons {
    max-height: 100%;
    width: 100%;
    margin: auto;
    display: block;
    float: left;
  }
  #TextbookOfferInfoText.col {
    max-height: 100%;
    margin: 0;
    display: block;
    float: left;
  }
}
