.TextbookOfferContainer {
  height: 100%;
  width: 100%;
}

.TextbookOfferInfo {
  height: 40vh;
  width: 100%;;
  overflow: hidden;
}

.TextbookOfferInfo .col-sm-4 {
  max-height: 100%;
  width: 40%;
}

.TextbookOfferInfo .col-sm-6 {
  max-height: 100%;
  width: 60%;
}

.TextbookOfferInfo .col-sm-4 a img {
  height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}

.TextbookOffers {
  height: 100%;
  width: 100%;
}


.TextbookOffers h4 {
  align: center;
}

.TextbookOffers .table{
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

