#user-row-image {
  text-align: center;
}

.panel-body:hover {
  background-color: #eaeaea;
}

.panel-default {
  border-radius: 0;
  border-color: lightsteelblue;
  border-style: outset;
  border-width: 2px;
}

.panel {
  margin-bottom: 30px;
}