#user-row-image {
  text-align: center;
  border-width: 0 1px 0 0;
  border-color: silver;
  border-style: solid;
  padding: 0;
}

#user-block .panel-body:hover {
  background-color: #eaeaea;
}

#user-block .panel-default {
  border-radius: 0;
  border-color: lightsteelblue;
  border-style: outset;
  border-width: 2px;
  background-color: #F7F9FB;
}

#user-block .panel {
  margin-bottom: 30px;
}

.user-info-text {
  color: #23527c;
}

#banned-block .panel-body:hover {
  background-color: #ffecec;
}