<template name="AllSellOffers">
  {{#IfLoggedIn}}
  <table class="table table-striped table-bordered" style="text-align: center">
    <thead>
    <tr>
      <th>Book</th>
      <th>Offer</th>
      <th>Expiration</th>
      <th>Condition</th>
      <th>Student</th>
    </tr>
    </thead>

    <tbody>
    {{#each allsellofferList}}
    <tr>
      <td>{{book}}</td>
      <td>{{offer}}</td>
      <td>{{formatDate expiration}}</td>
      <td>{{condition}}</td>
      <td>{{student}}</td>
    </tr>
    {{/each}}
    </tbody>
  </table>
  {{/IfLoggedIn}}
</template>
